body {
  /* display */
  display: flex;
  flex-flow: column nowrap;
  /* positioning */
  /* box-model */
  height: 100vh;
  background-color: var(--theme-primary-color);

  /* typography */
  /* manipulation */
  /* misc */
}

#skip-to-content {
  /* display */
  display: block;

  /* positioning */
  position: fixed;
  z-index: 1000;

  /* box-model */
  background-color: var(--theme-tertiary-color);
  padding: 0.5em;
  width: 100vw;

  /* typography */
  font-size: 1rem;
  text-align: center;

  /* manipulation */
  transform: translateY(-100%);
  transition: 0.25s linear transform;

  /* misc */
}

#skip-to-content:focus-within {
  transform: none;
}

.side-nav {
  /* display */

  /* positioning */
  position: fixed;
  top: 0;
  z-index: 1000;

  /* box-model */
  background-color: var(--light-text);
  border: none;
  height: 100vh;
  max-height: 100vh;
  width: min(16em, calc(100vw - 3.5em));

  /* typography */
  /* manipulation */
  /* misc */
}

.side-nav[open] {
  animation: open-drawer 0.25s ease-out forwards;
}

.side-nav.closing {
  animation: close-drawer 0.25s ease-out forwards;
}

dialog::backdrop {
  background-color: hsl(281 50% 80%);
  opacity: 0.5;
  animation: fade-in 0.25s ease-out forwards;
}

dialog.closing::backdrop {
  animation: fade-out 0.25s ease-out forwards;
}

@keyframes open-drawer {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes close-drawer {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 0.5;
  }
}

@keyframes fade-out {
  0% {
    opacity: 0.5;
  }

  100% {
    opacity: 0;
  }
}

.side-nav nav {
  /* display */
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;

  /* positioning */
  /* box-model */
  height: 100%;
  border-right: 1px solid var(--theme-primary-color);
  /* typography */
  /* manipulation */
  /* misc */
}

.side-nav nav ol + ol {
  border-top: 1px solid var(--theme-primary-color);
}

.side-nav nav a,
.side-nav nav a:visited,
.side-nav nav a:link {
  /* display */
  display: grid;
  grid-template-columns: auto auto;
  grid-auto-rows: 3em;
  column-gap: 1em;
  align-items: center;
  justify-content: start;

  /* box-model */
  padding-inline: 0.5em;
  margin-inline: 0.5em;
  border-radius: 0.5em;

  /* typography */
  text-decoration: none;
  font: inherit;
  color: var(--dark-text);
}

.side-nav a.active {
  background-color: var(--theme-tertiary-color);
  color: var(--theme-primary-color);
}

.side-nav a:focus-visible {
  outline-color: var(--theme-primary-color);
}

/* Header */
.app-header {
  /* display */
  display: flex;
  flex-flow: row wrap;
  align-items: center;

  /* positioning */
  /* box-model */
  background-color: var(--theme-primary-color);

  /* typography */
  color: var(--light-text);
  font-size: 2rem;
  font-weight: 400;

  /* manipulation */
  /* misc */
}

.app-header > * {
  /* display */
  display: flex;

  /* box-model */
  background-color: inherit;
  padding: 0.5em;

  /* typography */
  font: inherit;
  line-height: 1;
}

.app-header button .material-symbols-sharp {
  font-size: inherit;
}

/* Footer */
.app-main {
  flex: 1 1 auto;
  padding-bottom: 2.5rem;
  background-color: var(--light-text);
}

.app-footer nav {
  /* display */
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-around;

  /* positioning */
  position: relative;

  /* box-model */
  background-color: var(--theme-primary-color);
  outline: 1px var(--light-text);

  /* typography */
  color: var(--light-text);
  font-size: 1.5rem;
  font-weight: 400;

  /* manipulation */
  /* misc */
}

.app-footer * {
  /* box-model */
  background-color: inherit;

  /* typography */
  font: inherit;
  line-height: 1;
}

.app-footer a {
  all: unset;
}

.app-footer .footer-link:not(.fab) {
  /* display */
  display: flex;
  flex-flow: column nowrap;
  align-items: center;

  /* positioning */

  /* box-model */
  padding: 0.5em;
  flex: 1 1 100px;

  /* typography */
  color: var(--theme-tertiary-color);
  /* manipulation */
  /* misc */
}

.app-footer .footer-link.fab {
  /* display */
  display: flex;

  /* positioning */
  position: absolute;
  top: -0.75em;

  /* box-model */
  background-color: var(--light-text);
  border-radius: 50%;
  padding: 0.25em;
  box-shadow: 0 0 0 2px var(--theme-primary-color);

  /* typography */
  font-size: 2em;
  color: var(--theme-secondary-color);

  /* manipulation */
  /* misc */
}

.app-footer .footer-link:not(.fab).active {
  /* background-color: var(--theme-tertiary-color); */
  /* color: var(--dark-text); */
  color: var(--light-text);
  font-weight: 500;
}

.app-footer .footer-link.fab.active {
  /* background-color: var(--theme-tertiary-color); */
  /* color: var(--dark-text); */
  color: var(--theme-primary-color);
  font-weight: 500;
}

.app-header,
.app-footer {
  z-index: 100;
  filter: drop-shadow(0 0 5px var(--theme-primary-color));
}

.app-header button:focus-visible,
.app-footer .footer-link:focus-visible {
  background-color: var(--theme-tertiary-color);
}

pwa-update::part(updateToast) {
  z-index: 101;
}
