body {
  /* display */
  display: flex;
  flex-flow: column nowrap;
  /* positioning */
  /* box-model */
  height: 100vh;

  /* typography */
  /* manipulation */
  /* misc */
}

#skip-to-content {
  /* display */
  display: block;

  /* positioning */
  position: fixed;
  z-index: 1000;

  /* box-model */
  background-color: var(--theme-tertiary-color);
  padding: 0.5em;
  width: 100vw;

  /* typography */
  font-size: 1rem;
  text-align: center;

  /* manipulation */
  transform: translateY(-100%);
  transition: 0.25s linear transform;

  /* misc */
}

#skip-to-content:focus-within {
  transform: none;
}

/* Header */
.app-header {
  /* display */
  display: flex;
  flex-flow: row wrap;
  align-items: center;

  /* positioning */
  /* box-model */
  background-color: var(--theme-primary-color);

  /* typography */
  color: var(--light-text);
  font-size: 2rem;
  font-weight: 400;

  /* manipulation */
  /* misc */
}

.app-header>* {
  /* display */
  display: flex;

  /* box-model */
  background-color: inherit;
  padding: 0.5em;

  /* typography */
  font: inherit;
  line-height: 1;
}

.app-header button:focus {
  background-color: var(--theme-tertiary-color);
}

.app-header button .material-symbols-sharp {
  font-size: 1em;
}

/* Footer */
.app-main {
  flex: 1 1 auto;
  padding-bottom: 2.5rem;
}

.app-footer nav {
  /* display */
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-around;

  /* positioning */
  position: relative;

  /* box-model */
  background-color: var(--theme-primary-color);
  outline: 1px var(--light-text);

  /* typography */
  color: var(--light-text);
  font-size: 1.5rem;
  font-weight: 400;

  /* manipulation */
  /* misc */
}

.app-footer * {
  /* box-model */
  background-color: inherit;

  /* typography */
  font: inherit;
  line-height: 1;
}

.app-footer a {
  all: unset;
}

.app-footer .footer-link:not(.fab) {
  /* display */
  display: flex;
  flex-flow: column nowrap;
  align-items: center;

  /* positioning */

  /* box-model */
  padding: 0.5em;
  flex: 1 1 100px;

  /* typography */
  /* manipulation */
  /* misc */
}

.app-footer .footer-link.fab {
  /* display */
  display: flex;

  /* positioning */
  position: absolute;
  top: -0.75em;

  /* box-model */
  background-color: var(--light-text);
  border-radius: 50%;
  padding: 0.25em;
  box-shadow: 0 0 0 2px var(--theme-primary-color);

  /* typography */
  font-size: 2em;
  color: var(--theme-primary-color);

  /* manipulation */
  /* misc */
}

.app-footer .footer-link.active {
  background-color: var(--theme-tertiary-color);
  color: var(--dark-text);
}

.app-header,
.app-footer {
  filter: drop-shadow(0 0 5px var(--theme-primary-color));
}