button.primary,
button.outline,
button.flat {
  /* display */
  /* positioning */
  /* box-model */
  border-radius: 0.5em;
  padding: 0.675em 1em;

  /* typography */
  font-weight: 700;
  text-transform: uppercase;

  /* manipulation */
  /* misc */
}

button.primary {
  /* display */
  /* positioning */
  /* box-model */
  background-color: var(--theme-secondary-color);

  /* typography */
  color: var(--light-text);
  /* manipulation */
  /* misc */
}

button.outline {
  /* display */
  /* positioning */
  /* box-model */
  border: 1px solid var(--theme-secondary-color);

  /* typography */
  color: var(--theme-secondary-color);
  /* manipulation */
  /* misc */
}

button.flat {
  /* display */
  /* positioning */
  /* box-model */

  /* typography */
  color: var(--theme-secondary-color);
  /* manipulation */
  /* misc */
}

button.disabled {
  /* display */
  /* positioning */
  /* box-model */
  background-color: var(--disabled-color);

  /* typography */
  /* manipulation */
  /* misc */
}

button.small {
  /* display */
  /* positioning */
  /* box-model */
  /* typography */
  font-size: 0.75em;

  /* manipulation */
  /* misc */
}

button.inline {
  margin: -0.675em -1em;
}

button:focus {
  background-color: var(--theme-primary-color);
  color: var(--light-text);
}

button.flat:focus {
  color: var(--theme-primary-color);
  border: 1px solid var(--theme-primary-color);
  background-color: unset;
}