button.primary,
a.button.primary,
button.outline,
a.button.outline,
button.flat,
a.button.flat {
  /* display */
  display: inline-flex;
  justify-content: center;
  align-items: center;

  /* positioning */
  /* box-model */
  border-radius: 0.5em;
  padding: 0.675em 1em;

  /* typography */
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;

  /* manipulation */
  /* misc */
}

button.primary,
a.button.primary {
  /* display */
  /* positioning */
  /* box-model */
  background-color: var(--theme-secondary-color);

  /* typography */
  color: var(--light-text);
  /* manipulation */
  /* misc */
}

button.outline,
a.button.outline {
  /* display */
  /* positioning */
  /* box-model */
  border: 1px solid currentColor;

  /* typography */
  color: var(--theme-secondary-color);
  /* manipulation */
  /* misc */
}

button.flat,
a.button.flat {
  /* display */
  /* positioning */
  /* box-model */

  /* typography */
  color: var(--theme-secondary-color);
  /* manipulation */
  /* misc */
}

button.danger,
a.button.danger {
  color: var(--invalid-color);
}

button:disabled,
a.button:disabled {
  /* display */
  /* positioning */
  /* box-model */
  background-color: var(--disabled-color);

  /* typography */
  /* manipulation */
  /* misc */
}

button.small,
a.button.small {
  /* display */
  /* positioning */
  /* box-model */
  /* typography */
  font-size: 0.75em;

  /* manipulation */
  /* misc */
}

button.inline,
a.button.inline {
  margin: -0.675em -1em;
}

button:focus,
a.button:focus {
  background-color: var(--theme-primary-color);
  color: var(--light-text);
}

button.flat:focus-visible,
a.button.flat:focus-visible {
  color: var(--theme-primary-color);
  outline: 1px solid var(--theme-primary-color);
  background-color: unset;
}

button .spinner,
a.button .spinner {
  display: none;
}

button.loading .spinner,
a.button.loading .spinner {
  display: inline-block;
}
