.changelog {
  /* display */
  /* positioning */
  /* box-model */
  padding: 1rem;
  /* typography */
  /* manipulation */
  /* misc */
}

.changelog section {
  width: fit-content;
  margin: auto;
}

.changelog section h2 {
  margin-top: 1em;
  text-align: center;
}

.changelog section h3:not(:first-of-type) {
  /* display */
  /* positioning */
  /* box-model */
  /* typography */
  margin-top: 1em;
  /* manipulation */
  /* misc */
}

.changelog section h3 .date {
  font-size: 0.75em;
  font-style: italic;
  margin-left: 2.5em;
}

.changelog li {
  margin-left: 1.5em;
}
