.contact-page {
  display: flex;
  flex-flow: column nowrap;
  gap: 1em;
  align-items: center;
  padding: 1rem;
}

.contact-page form {
  padding: 0;
  align-items: center;
}

button.pfp {
  /* display */
  /* positioning */
  /* box-model */
  background-color: var(--theme-secondary-color);
  width: 5rem;
  height: 5rem;
  padding: 1rem;

  /* typography */
  color: var(--light-text);
  font-size: 4rem;
  text-align: center;

  /* manipulation */
  /* misc */
}

.join-link {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;

  width: fit-content;
  max-width: 100%;

  font-family: var(--header-font-family);
}

.join-link .row {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;

  width: 100%;

  font-family: var(--header-font-family);
}

.join-link .row * {
  flex: 0 0 auto;
}

.join-link .link-text {
  flex: 0 1 auto;

  /* display: inline-block; */

  min-width: 0;

  /* typography */
  font-family: var(--font-family);
  text-transform: unset;
  color: var(--disabled-color);
  text-overflow: ellipsis;
  overflow: hidden;
}
