.interaction-list {
  /* display */
  /* positioning */
  /* box-model */
  width: 100%;
  border: 1px solid var(--theme-secondary-color);
  border-top: none;

  /* typography */
  /* manipulation */
  /* misc */
  list-style: none;
}

.interaction-list > li .header-icon {
  /* display */
  /* positioning */
  /* box-model */
  background-color: var(--theme-secondary-color);
  height: 1.75em;
  width: 1.75em;

  /* typography */
  /* manipulation */
  /* misc */
}

.interaction-list > li > h2 {
  /* display */
  display: flex;
  flex-flow: row nowrap;
  border-top: 1px solid var(--theme-secondary-color);

  /* positioning */
  /* box-model */
  /* typography */
  color: var(--theme-secondary-color);
  line-height: 1em;

  /* manipulation */
  /* misc */
}

.interaction-list > li > ul {
  list-style: none;
}

.interaction-list > li > ul > li {
  border-top: 1px solid var(--theme-secondary-color);
  line-height: 1em;
}

.interaction-list > li > ul > li,
.interaction-list > li > h2 > .header-text {
  padding: 0.5rem;
}

.interaction-list > li > ul > li label {
  display: flex;
  align-items: center;
  margin: -0.5rem;
}

.interaction-list > li > ul > li label input[type="checkbox"] {
  visibility: hidden;
  max-width: 0;
  min-width: 0;
}

.interaction-list > li > ul > li label .contact-icon {
  font-family: "Noto Emoji";
  font-size: 1.5em;
  line-height: 1em;
  padding-inline: 0.35rem;
}

.interaction-list > li > ul > li label .contact-name {
  padding: 0.5em;
}
