.login-page,
.login-spinner {
  /* display */
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  gap: 1em;

  /* positioning */
  inset: 0;

  /* box-model */
  margin: auto;

  /* typography */
  font-size: 1.5em;
  color: var(--light-text);
}

.login-page {
  /* box-model */
  background-color: var(--light-text);
  border-radius: 2em;
  border: 1px solid var(--theme-secondary-color);
  padding: 2em;

  /* manipulation */
  /* misc */
}

.login-page h1 {
  font: inherit;
  font-size: 1.5em;
  color: var(--theme-primary-color);
}

.login-page form {
  display: contents;
}