.login,
.login-spinner {
  font-size: 1.5em;
}

.main-bubble,
.login-spinner {
  /* display */
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  gap: 1em;

  /* positioning */
  inset: 0;

  /* box-model */
  margin: auto;

  /* typography */
  color: var(--light-text);
}

.main-bubble {
  padding: 2em;
  box-shadow: none;
  color: var(--dark-text);
}

.main-bubble form {
  display: contents;
}
