.image-picker {
  /* display */
  display: contents;
  flex-flow: column nowrap;
  align-items: center;

  /* positioning */
  /* box-model */
  /* typography */
  /* manipulation */
  /* misc */
}

.image-picker img {
  /* display */
  /* positioning */
  /* box-model */
  border-radius: 50%;
  border: 1px solid var(--theme-secondary-color);
  width: 5em;
  max-height: 5em;
  aspect-ratio: 1/1;

  /* typography */
  /* manipulation */
  object-fit: cover;

  /* misc */
}

.image-picker:focus-within img {
  border-color: var(--theme-primary-color);
  box-shadow: 0 0 0 0.25em var(--theme-primary-color);
}
