.tip {
  position: fixed;
}

.tip.targeted::backdrop {
  background-color: transparent;
}

.tip section {
  /* display */
  display: flex;
  flex-direction: row nowrap;

  /* positioning */
  /* box-model */
  /* typography */
  /* manipulation */
  /* misc */
}

.tip section > button {
  font-size: 2em;
}

.tip main {
  /* display */
  display: flex;
  flex-flow: column nowrap;
  gap: 1em;

  /* positioning */
  /* box-model */
  padding: 1em;

  /* typography */
  /* manipulation */
  /* misc */
}

.tip img {
  max-width: 3em;
}
.tip img:first-child {
  margin-left: 2em;
}
