.tip {
  position: fixed;
  border-radius: 1em;
}

.tip.targeted {
  border-top-left-radius: 0;
}

.tip.targeted::backdrop {
  background-color: transparent;
}

.tip section {
  /* display */
  display: flex;
  flex-direction: row nowrap;

  /* positioning */
  /* box-model */
  /* typography */
  /* manipulation */
  /* misc */
}

.tip section > button > span {
  text-align: center;
}

.tip section > button .material-symbols-sharp {
  font-size: 2em;
}

.tip img {
  max-width: 3em;
}
.tip img:first-child {
  margin-left: 1em;
}

.tip main {
  /* display */
  display: flex;
  flex-flow: column nowrap;
  gap: 1em;

  /* positioning */
  /* box-model */
  padding: 1em;

  /* typography */
  /* manipulation */
  /* misc */
}

.tip main ul,
.tip main ol {
  margin: auto;
  max-width: 80%;
}

.tip main ul li {
  margin: initial;
}
