.view-attractions #map {
  min-height: 50%;
}

.view-attractions .contacts-list {
  margin-bottom: 1em;
}

.view-attractions .contacts-list .contact-header-container {
  font: inherit;
}

.view-attractions .contacts-list .contact-header-container .contact-name {
  font-weight: 700;
}
.view-attractions .contacts-list .contact-header-container .expiration {
  font-weight: 500;
}

.attraction,
.attraction-details {
  display: flex;
  flex-flow: column nowrap;
  gap: 0.5em;
}

.attraction-details {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}

.attraction-details h4 {
  color: var(--theme-primary-color);
  text-transform: uppercase;
}

.attraction-details .react {
  all: unset;

  /* display */
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  gap: 0.5em;

  /* positioning */
  /* box-model */
  /* typography */
  font-size: 2em;
  color: var(--theme-secondary-color);

  /* manipulation */
  /* misc */
}

.attraction-details .react legend {
  visibility: hidden;
  max-height: 0;
  max-width: 0;
}

.attraction-details .react input[type="radio"] {
  width: 0;
}

.attraction-details .react .reaction {
  font-family: "Noto Emoji";
  padding: 0.125em;
  border-radius: 0.25em;
}

.attraction-details .react input:checked + .reaction {
  color: var(--theme-primary-color);
  background-color: var(--theme-tertiary-color);
}

.attraction-details table {
  width: fit-content;
}
