.view-attractions #map {
  min-height: 50%;
}

.view-attractions .contacts-list {
  margin-bottom: 1em;
}

.view-attractions .contacts-list .contact-header-container {
  font: inherit;
}

.view-attractions .contacts-list .contact-header-container .contact-name {
  font-weight: 700;
}
.view-attractions .contacts-list .contact-header-container .expiration {
  font-weight: 500;
}
