/* Global Styles */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

button {
  all: unset;
}

:root {
  --theme-hue: 281;
  --theme-sat: 100%;
  --theme-primary-lightness: 25%;
  --theme-secondary-lightness: 60%;
  --theme-tertiary-lightness: 80%;
  --theme-primary-color: hsl(
    var(--theme-hue) var(--theme-sat) var(--theme-primary-lightness)
  );
  --theme-secondary-color: hsl(
    var(--theme-hue) 50% var(--theme-secondary-lightness)
  );
  --theme-tertiary-color: hsl(
    var(--theme-hue) 50% var(--theme-tertiary-lightness)
  );

  --light-text: white;
  --dark-text: black;

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.material-symbols-sharp {
  font-family: "Material Symbols Sharp" !important;
}

body {
  /* display */
  display: flex;
  flex-flow: column nowrap;
  /* positioning */
  /* box-model */
  height: 100vh;

  /* typography */
  /* manipulation */
  /* misc */
}

/* Header */

.app-header {
  /* display */
  display: flex;
  flex-flow: row wrap;
  align-items: center;

  /* positioning */
  /* box-model */
  background-color: var(--theme-primary-color);

  /* typography */
  color: var(--light-text);
  font-size: 2rem;
  font-weight: 400;

  /* manipulation */
  /* misc */
}

.app-header * {
  /* box-model */
  background-color: inherit;
  padding: 0.5em;

  /* typography */
  font: inherit;
  line-height: 1;
}

.app-header button {
  display: contents;
}

/* Footer */
.app-main {
  flex: 1 1 auto;
}

.app-footer nav {
  /* display */
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-around;

  /* positioning */
  position: relative;

  /* box-model */
  background-color: var(--theme-primary-color);
  outline: 1px var(--light-text);

  /* typography */
  color: var(--light-text);
  font-size: 1rem;
  font-weight: 400;

  /* manipulation */
  /* misc */
}

.app-footer * {
  /* box-model */
  background-color: inherit;

  /* typography */
  font: inherit;
  line-height: 1;
}

.app-footer .footer-button:not(.fab) {
  /* display */
  display: flex;
  flex-flow: column nowrap;
  align-items: center;

  /* positioning */

  /* box-model */
  padding: 0.5em;
  flex: 1 1 100px;

  /* typography */
  /* manipulation */
  /* misc */
}

.app-footer .footer-button.fab {
  /* display */
  display: flex;

  /* positioning */
  position: absolute;
  top: -0.75em;

  /* box-model */
  background-color: var(--light-text);
  border-radius: 50%;
  padding: 0.25em;
  box-shadow: 0 0 0 2px var(--theme-primary-color);

  /* typography */
  font-size: 2em;
  color: var(--theme-primary-color);

  /* manipulation */
  /* misc */
}

.app-footer .footer-button.active {
  background-color: var(--theme-tertiary-color);
  color: var(--dark-text);
}

.app-header,
.app-footer {
  filter: drop-shadow(0 0 5px var(--theme-primary-color));
}

main {
  padding-bottom: 1.5rem;
}
