.interaction-list {
  list-style: none;
  width: 100%;
  border: 1px solid var(--theme-secondary-color);
  border-top: none;
}

.interaction-list > li .header-icon {
  background-color: var(--theme-secondary-color);
  height: 2em;
}

.interaction-list > li > ul {
  list-style: none;
}

.interaction-list > li > h2 {
  display: flex;
  flex-flow: row nowrap;
  border-top: 1px solid var(--theme-secondary-color);

  /* font-size: inherit; */
  color: var(--theme-secondary-color);
  line-height: 1em;
}

.interaction-list > li > ul > li {
  border-top: 1px solid var(--theme-secondary-color);
  line-height: 1em;
}

.interaction-list > li > ul > li,
.interaction-list > li > h2 > .header-text {
  padding: 0.5em;
}
