.app-main {
  /* display */
  display: flex;
  flex-flow: column nowrap;

  /* box-model */
  height: 100%;

  /* misc */
  overflow-y: scroll;
}

.app-main .ignore {
  display: contents;
}

.app-main #map {
  /* display */
  flex: 1 1 0;
  /* positioning */
  /* box-model */
  min-height: 15vh;
  /* typography */
  /* manipulation */
  /* misc */
}

.app-main form {
  flex: 0 0 auto;

  /* display */
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;

  /* positioning */
  /* box-model */
  padding: 1.5rem;

  /* typography */
  /* manipulation */
  /* misc */
}

.app-main button#submit-button {
  /* display */
  align-self: flex-end;

  /* positioning */
  /* box-model */
  /* typography */
  /* manipulation */
  /* misc */
}

.app-main .text-input-wrapper {
  /* display */
  /* positioning */

  /* typography */
  font-size: 1.5rem;

  /* manipulation */
  /* misc */
}

.app-main .text-input-wrapper + .text-input-wrapper {
  /* box-model */
  margin-top: 0.5em;
}
