.app-main > form {
  /* display */
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;

  /* positioning */
  /* box-model */
  padding: 1.5rem;

  /* typography */
  font-size: 1.5rem;
  /* manipulation */
  /* misc */
}

.app-main button#submit-button {
  /* display */
  align-self: flex-end;

  /* positioning */
  /* box-model */
  /* typography */
  /* manipulation */
  /* misc */
}

.app-main .text-input-wrapper {
  /* display */
  /* positioning */
  /* box-model */
  margin-top: 0.5em;
  /* typography */
  /* manipulation */
  /* misc */
}
