.app-main > form {
  /* display */
  display: flex;
  flex-flow: column nowrap;

  /* positioning */
  /* box-model */
  padding: 1.5rem;

  /* typography */
  font-size: 1.5rem;
  /* manipulation */
  /* misc */
}

.app-main .text-input-wrapper {
  /* display */
  /* positioning */
  /* box-model */
  margin-top: 0.5em;
  /* typography */
  /* manipulation */
  /* misc */
}
